.main {
  position: relative;
}

.main h2 {
  position: absolute;
  margin: 0;
  bottom: 6rem;
  left: 3rem;
}

.main img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: var(--right-column);
  height: 100vh;
  object-fit: cover;
}
