.main {
  display: grid;
  grid-template-columns: 1fr var(--right-column);
}

.container {
  position: relative;
  height: 100%;
  margin: 0 !important;
}

.aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px repeat(2, auto) 1fr;
}

.mario {
  bottom: 4px;
  right: 2rem;
  position: absolute;
}
