html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P", cursive;
  background-color: #212529;
  color: white;
}

main {
  width: 100vw;
  height: 100vh;
  --right-column: 360px;
}

label {
  display: block;
}

.icon-list {
  display: flex;
  gap: 1rem;
}
